@model IEnumerable<Ocean_Home.Models.Domain.OurAffiliate>
@{
    ViewData["Title"] = "Our Affiliates";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-fw fa-reply"></i> Our Affiliates</h3>
    </div>
    <div class="panel-body">
        <div id="accordion" class="panel-group" aria-multiselectable="true" role="tablist">
            <div class="panel panel-success">
                @if (TempData["CountryErrors"] != null)
                {
                    var Errors = TempData["CountryErrors"] as List<string>;
                    <div class="alert alert-danger text-center p-5 m-5">
                        <ul style="list-style:none;">
                            @foreach (var error in Errors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    </div>
                }

                <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">
                        <a class="pointer"><i class="fa fa-fw fa-plus"></i> إضافة </a>
                    </h4>
                </div>


                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <h3>يرجي إضافة الصورة بجميع المقاسات</h3>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @using (Html.BeginForm("Create", "Affiliates", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row" style="margin:10px;">

                                <div class="col-lg-6 mb-10">
                                    <div class="form-group">
                                        <label for="ImageUrl_150x150" class="col-sm-5 control-label required">  150x150 صوره :</label>
                                        <div class="col-sm-7">
                                            <input type="file" id="ImageUrl_150x150" required name="ImageUrl_150x150" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-10">
                                    <div class="form-group">
                                        <label for="ImageUrl_300x300" class="col-sm-5 control-label required">  300x300 صوره :</label>
                                        <div class="col-sm-7">
                                            <input type="file" id="ImageUrl_300x300" required name="ImageUrl_300x300" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-10">
                                    <div class="form-group">
                                        <label for="ImageUrl_370x370" class="col-sm-5 control-label required">  370x370 صوره :</label>
                                        <div class="col-sm-7">
                                            <input type="file" id="ImageUrl_370x370" required name="ImageUrl_370x370" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-10">
                                    <div class="form-group">
                                        <label for="ImageUrl_685x685" class="col-sm-5 control-label required">  685x685 صوره :</label>
                                        <div class="col-sm-7">
                                            <input type="file" id="ImageUrl_685x685" required name="ImageUrl_685x685" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-10">
                                    <div class="form-group">
                                        <label for="ImageUrl_768x768" class="col-sm-5 control-label required">  768x768 صوره :</label>
                                        <div class="col-sm-7">
                                            <input type="file" id="ImageUrl_768x768" required name="ImageUrl_768x768" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-10">
                                    <div class="form-group">
                                        <label for="ImageUrl_1024x1024" class="col-sm-5 control-label required">  1024x1024 صوره :</label>
                                        <div class="col-sm-7">
                                            <input type="file" id="ImageUrl_1024x1024" required name="ImageUrl_1024x1024" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-10">
                                    <div class="form-group">
                                        <label for="ImageUrl_1080" class="col-sm-5 control-label required">  1080 صوره :</label>
                                        <div class="col-sm-7">
                                            <input type="file" id="ImageUrl_1080" required name="ImageUrl_1080" class="form-control" />
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <button type="submit" class="btn btn-success">إضافة</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-10">
            @if (ViewBag.State == "D")
            {
                <a href="@Url.Action("Index")" class="btn btn-success">Our Affiliates الحاليه</a>
            }
            else
            {
                <a href="@Url.Action("Index", new { q = "deleted" })" class="btn btn-danger">Our Affiliates المحذوفين</a>
            }
        </div>
        <div class="table-responsive">
            <table id="table" cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="text-align:center">الصورة</th>
                        <th style="text-align:center">الحالة </th>
                        <th style="text-align:center ">التحكم</th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @if (!string.IsNullOrEmpty(item.ImageUrl_1080))
                                {
                                    <img src="@Url.Content(item.ImageUrl_1080 != null ? ("/Images/System/" + item.ImageUrl_1080) : "~/Content/assets/imgs/unnamed.jpg")" width="150" height="50" />

                                }
                                else
                                {
                                    <span>---</span>
                                }
                            </td>
                            <td>
                                @if (item.IsDeleted == true)
                                {
                                    <span class="badge bg-red">محذوف</span>
                                }
                                else
                                {
                                    <span class="badge bg-green">متاح</span>
                                }
                            </td>


                            <td>
                                <a asp-action="Edit" asp-controller="Affiliates" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                                <span>|</span>

                                @if (ViewBag.State != "D")
                                {
                                    <a onclick="Delete('Affiliates/Delete?id=@item.Id')" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                }
                                else
                                {
                                    <a onclick="Resotre('Affiliates/Delete?id=@item.Id')" class="btn btn-default"><i class="fa fa-undo"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function Delete(url) {
        swal({
            title: "هل متأكد؟",
            text: "عند مسح هذا السلايدر سوف يتم نقله إلى Our Affiliates المحذوفين",
            icon: "warning",
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "Delete",
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            setInterval('location.reload()', 2500);
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                })
            }
        })
    }
    function Resotre(url) {
        swal({
            title: "هل متأكد؟",
            text: "هل تريد استراجع العنصر مرة أخرى",
            icon: "success"
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: "Delete",
                    url: url,
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            setInterval('location.reload()', 2500);
                        }
                        else {
                            toastr.error(data.message);
                        }
                    }
                })
            }
        })
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

