@model Ocean_Home.Models.Domain.Project
@{
    ViewBag.Title = "تعديل " + Model.Name;
    var Instructors = ViewBag.Instructors as SelectList;
}

<h1 class="text-center mb-30">@ViewBag.Title</h1>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
@using (Html.BeginForm("Edit", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(d => d.CreatedOn)
    @Html.HiddenFor(d => d.DeletedOn)
    @Html.HiddenFor(d => d.Id)
    @Html.HiddenFor(d => d.IsDeleted)
    @Html.HiddenFor(d => d.IsModified)
    @Html.HiddenFor(d => d.ModifiedOn)
    @Html.AntiForgeryToken()
    <div class="row" style="margin:10px;">
        

        <div class="col-lg-6 mb-10">
            <div class="form-group">
                <label for="NameEn" class="col-sm-5 control-label required">اسم الدورة التدريبية بالانجليزى:</label>
                <div class="col-sm-7">
                    <input asp-for="Name" type="text" required id="Name" class="form-control valid" />
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-10">
            <div class="form-group">
                <label for="NameEn" class="col-sm-5 control-label required">تفاصيل الدورة التدريبية بالانجليزى:</label>
                <div class="col-sm-7">
                    <textarea asp-for="Description" required id="DescriptionAr" class="form-control valid" rows="7"> 
                                                       </textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-10">
            <div class="form-group">
                <label for="InstructorId" class="col-sm-5 control-label required"> المحاضر : </label>
                <div class="col-sm-7">
                    @Html.DropDownListFor(model => model.DepartmentId, Instructors, new { @class = "form-control" })
                </div>
            </div>
        </div>


       
        <div class="col-lg-6 mb-10">
            <div class="form-group">
                <label for="Sort" class="col-sm-5 control-label required">الترتيب:</label>
                <div class="col-sm-7">
                    <input type="number" asp-for="Sort" name="Sort" required class="form-control valid" />
                </div>
            </div>
        </div>


    </div>
    <div class="row" style="margin:10px;">
        <div class="col-lg-6 mb-10">
            <div class="form-group">
                <label for="NameEn" class="col-sm-5 control-label required"></label>
                <div class="col-sm-7">
                    <button style="text-align:center !important" type="submit" class="btn btn-success">تعديل</button>
                </div>
            </div>

        </div>
    </div>


}